<!DOCTYPE html>
<html lang="en" ng-app="convergence">

<head th:include="taglibs.html :: taglibs" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
    <script type="text/javascript">
        var APP_NAME = "convergence";
        var convergence = angular.module(APP_NAME, ["ngRoute", "ngResource", "ngAnimate", "ngSanitize", "ui.bootstrap", "ngMessages", "ngCookies", "ngFileUpload"]);

    </script>
    <script type="text/javascript" th:src="@{/static/scripts/ctrl/ftr_board.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/ctrl/res_board.js}"></script>
    <script type="text/javascript" th:src="@{/static/scripts/ctrl/ctrl_board.js}"></script>
</head>

<body ng-controller="ConvergenceCtrl">
    <div class="container">

        <!-- Insert Form -->
        <!-- <br/>
        <form ng-submit="insertBoard(board)">
            <div>
                <label for="formGroupExampleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="board.title">
            </div><br/>
            <div>
                <label for="formGroupExampleInput" class="form-label">Writer</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="board.writer">
            </div><br/>
            <div>
                <label for="formGroupExampleInput" class="form-label">Content</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="board.content">
            </div>
            <br/>
            <button type="submit" class="btn btn-dark">추가</button>
        </form><br /><br /> -->

        <ng-view></ng-view>

        <div ng-if="showBoard">
            <br/>
            <h1 style="text-align: center;">게시판</h1>
            <div><a href="#!/insertForm"><button type="button" class="btn btn-dark"
                        style="float:right; margin:30px; margin-right: 120px;"
                        ng-click="boardShowHide()">추가</button></a></div>

            <!-- Board -->
            <table class="table">
                <tr>
                    <th scope="col">No</td>
                    <th scope="col">Title</td>
                    <th scope="col">Writer</td>
                    <th scope="col">Content</td>
                    <th scope="col" style="text-align: center;">비고</td>
                </tr>

                <tr ng-repeat="board in boardList">
                    <th scope="row" ng-click="toggleClicked(board)">{{$index + 1}}</th>
                    <td ng-click="toggleClicked(board)">{{board.title}}</td>
                    <td ng-click="toggleClicked(board)">{{board.writer}}</td>
                    <td ng-click="toggleClicked(board)">{{board.content}}</td>
                    <td style="text-align: center;"><a href="#!/updateForm"><button type="button" class="btn btn-dark"
                                style="margin-right: 10px;" ng-click="updateButtonClick(board); boardShowHide();" >수정</button></a>
                        <button type="button" class="btn btn-dark" ng-click="deleteBoard(board.bno)">삭제</button>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Update Form -->
        <!-- <form ng-if="clicked" ng-submit="updateBoard(selectedBoard)">
            <div>
                <label for="formGroupExampleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="selectedBoard.title">
            </div><br />
            <div>
                <label for="formGroupExampleInput" class="form-label">Writer</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="selectedBoard.writer">
            </div><br />
            <div>
                <label for="formGroupExampleInput" class="form-label">Content</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="selectedBoard.content">
            </div>
            <br />
            <button type="submit" class="btn btn-dark">수정</button>
        </form><br /><br /> -->
    </div>
</body>

</html>